:root {
    --bg-color-highlight: #31525B;
    --bg-color: #B3DEE5;
    --color: #FFA101;
    --color-highlight: #FAE6B1;
}
/* * {
    border: 5px solid red;
} */
html {
    background-color: var(--bg-color);
    font-family: 'Fredoka', sans-serif;
}

body div {
    font-size: 45px;    
}

#header {
    background-color: var(--bg-color-highlight);
    color: var(--color-highlight);
    margin: -10px -10px 50px -10px;
    font-size: 35px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-cntr, .flex-cntr.col {
    display: flex;
    color: var(--color);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
.flex-cntr.col {
    flex-direction: column;
}

#search-bar {
    margin-bottom: 30px;
}

#search-bar div, #search-bar input, #search-bar button {
    margin-left: 10px;
}

input {
    font-size: 27px;
    width: 300px;
    height: 35px;
}

button {
    height: 40px;
}

.city-text {
    width: 90%;
}

#city-text, #city-weather {
    max-width: 1185px;
    width: 70%;
}

#city-text {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.city-weather {
    height: 100%;
    width: 33%;
}

#city-weather{
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

#weather-description {
    color: var(--color-highlight);
}

@media screen and (max-width: 640px) {
    body div {
        font-size: 22px;    
    }

    #header {
        font-size: 22px;
    }

    #city-text, #city-weather {
        width: 80%;
    }

    input {
        width: auto;
    }

    #city-weather {
        flex-direction: column;
    }

    #weather-description div {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    button {
        width: auto;
    }

    #search-bar div, #search-bar input, #search-bar button {
        margin: 0px;
    }
    
    input {
        font-size: 18px;
        width: auto;
        height: auto;
    }

    button {
        height: auto;
    }
    img {
        height: 140px;
    }
}