:root {
    --bg-color-highlight: #31525B;
    --bg-color: #B3DEE5;
    --color: #FFA101;
    --color-highlight: #FAE6B1;
}
/* * {
    border: 5px solid red;
} */
html {
    background-color: var(--bg-color);
}

.flex-cntr, .flex-cntr.col {
    display: flex;
    color: var(--color);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
.flex-cntr.col {
    flex-direction: column;
}
#search-bar {
    padding-bottom: 30px;
}
input {
    width: 30%;
}

.city-text {
    width: 90%;
}

#city-text {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.city-weather {
    height: 100%;
    width: 33%;
}

#city-weather{
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

#city-weather, #city-text {
    border-radius: 20px;
    border: 5px solid var(--bg-color-highlight);
}